doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap")
        title About us
    body 
        .container 
            .header 
            .baner 
                .baner__text Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore
                img.baner__image(src="../img/baner__image.png", alt="")
            h1.content__h1 Про аеропорт
            .content
                .content__column 
                    .content__p Міжнародний аеропорт «Івано-Франківськ» належить до аеропортів класу «B». Здійснює функції запасного аеродрому для міст Львів.
                    img.content__image1(src="../img/content__image1.png", alt="")
                    .content__p Аеропорт здатний приймати середньомагістральні літаки, також вертольоти всіх типів.
                hr.content__line
                .content__column 
                    img.content__image2(src="../img/content__image2.png", alt="")
                    .content__p Аеропорт обладнаний для прийому і обслуговування літаків за першою категорією.
                    img.content__image2(src="../img/content__image3.png", alt="")
            //- .slider
            //-     .slider__nav 
            //-         img(src="../img/slider__left.png", alt="")
            //-     .slider__nav 
            //-         img(src="../img/slider__right.png", alt="")
            .slider_container
                input#i1(type="radio" name="images" checked)
                input#i2(type="radio" name="images")
                input#i3(type="radio" name="images")
                input#i4(type="radio" name="images")
                .slide_img#one
                    img(src="../img/slider__image1.png", alt="") 
                    label.prev(for="i4")
                        span
                    label.next(for="i2")
                        span
                .slide_img#two
                    img(src="../img/slider__image1.png", alt="") 
                    label.prev(for="i1")
                        span
                    label.next(for="i3")
                        span
                .slide_img#three
                    img(src="../img/slider__image1.png", alt="") 
                    label.prev(for="i2")
                        span
                    label.next(for="i4")
                        span
                .slide_img#four
                    img(src="../img/slider__image1.png", alt="") 
                    label.prev(for="i3")
                        span
                    label.next(for="i1")
                        span   
                #nav_slide
                    label#dot1.dots(for="i1")
                    label#dot2.dots(for="i2")   
                    label#dot3.dots(for="i3")
                    label#dot4.dots(for="i4")
            .footer
        script(src="../script.js") 
