* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  font-family: 'Comfortaa', cursive;
  /*MIXIN-flex*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.baner {
  width: 100%;
  height: 50vh;
  background: #E84848;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  /*MIXIN-flex*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.baner__text {
  color: white;
  font-size: 35px;
  text-align: center;
  width: 40%;
  margin-left: 30px;
}
.baner__image {
  width: 35%;
}
.slider {
  width: 70%;
  height: 60vh;
  background-image: url(img/slider__image1.png);
  background-size: cover;
  background-repeat: no-repeat;
  /*MIXIN-flex*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.slider__nav {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: white;
  opacity: 0.7;
  margin: 15px;
  /*MIXIN-flex*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content {
  width: 100%;
  height: 100vh;
  /*MIXIN-flex*/
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: space-between;
}
.content__h1 {
  color: #E84848;
  text-align: center;
  padding: 20px;
}
.content__column {
  width: 48%;
  height: 95%;
  /*MIXIN-flex*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.content__line {
  width: 2px;
  height: 95%;
  background: #E84848;
  border: none;
  outline: none;
  box-shadow: none;
}
.content__p {
  font-size: 22px;
  width: 70%;
}
.content__image1 {
  width: 70%;
  height: 40%;
}
.content__image2 {
  width: 70%;
  height: 40%;
  height: 35%;
}
.slider_container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 40%;
  user-select: none;
  background-color: #1c1c1c;
}
.slider_container input {
  display: none;
}
.slider_container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider_container .slide_img img {
  width: inherit;
  height: inherit;
}
.slider_container .slide_img .prev,
.slider_container .slide_img .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(255, 82, 82, 0.2);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}
.slider_container .slide_img .next {
  right: 0;
}
.slider_container .slide_img .prev {
  left: 0;
}
.slider_container .slide_img .prev:hover,
.slider_container .slide_img .next:hover {
  transition: 0.3s;
  background-color: #E84848;
}
.slider_container .slide_img .prev span,
.slider_container .slide_img .next span {
  position: absolute;
  width: 0px;
  height: 0px;
  border: solid 20px;
  top: 50%;
  transform: translateY(-50%);
}
.slider_container .slide_img .prev span {
  border-color: transparent #fff transparent transparent;
  right: 35%;
}
.slider_container .slide_img .next span {
  border-color: transparent transparent transparent #fff;
  left: 35%;
}
.slider_container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}
.slider_container #nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 3px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  cursor: pointer;
}
.slider_container #nav_slide #dot1:hover {
  background: #E84848;
}
.slider_container #nav_slide #dot2:hover {
  background: #E84848;
}
.slider_container #nav_slide #dot3:hover {
  background: #E84848;
}
.slider_container #nav_slide #dot4:hover {
  background: #E84848;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}
#i1:checked ~ #nav_slide #dot1 {
  background: #E84848;
}
#i2:checked ~ #nav_slide #dot2 {
  background: #E84848;
}
#i3:checked ~ #nav_slide #dot3 {
  background: #E84848;
}
#i4:checked ~ #nav_slide #dot4 {
  background: #E84848;
}
@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/*
@media screen and (max-width: 685px) {
  .slider_container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }
  .slider_container .slide_img .prev, .slider_container .slide_img .next {
    width: 15%;
  }
  .slider_container .slide_img .prev span, .slider_container .slide_img .next span {
    border: solid 12px;
  }
  .slider_container .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
  }
  .slider_container .slide_img .next span {
    border-color: transparent transparent transparent #fff;
  }
  .slider_container #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
*/
